<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ORM.Properties.Settings.searchplatformConnectionString"
            connectionString="Data Source=YHWY\sqlexpress;Initial Catalog=searchplatform;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>